{% extends "blog/base.html" %}

{% block title %}
    Programming Blog
{% endblock %}

{% block content %}
    <h1>Programming Blog</h1>

    {% for post in posts %}

        <!-- var 1 -->
        <h2><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h2>
        <!-- var 2 -->
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

        <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
{% endblock %}

